@import "../../css/colors.css";

.menu {
    position: absolute;
    border: 1px solid var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
    border-radius: 0 0 8px 8px;
    background-color: var(--looks-secondary, #855CD6);
    padding: 0;
    margin: 0;
    min-width: 11.625rem;
    max-width: 16.25rem;
    overflow: visible;
    color: var(--ui-white, #FFFFFF);
    box-shadow: 0 8px 8px 0 var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
}

.menu.left {
    right: 0;
}

.menu.right {
    left: 0;
}

.menu-item {
    display: block;
    line-height: 2.125rem;
    white-space: nowrap;
    padding: 0 0.625rem;
    font-size: .75rem;
    margin: 0;
    font-weight: bold;
    position: relative;
}

.menu-item.active,
.menu-item:hover,
.menu-item.expanded {
    background-color: var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
}

.menu-item.hoverable {
    cursor: pointer;
}

.menu-section {
    border-top: 1px solid var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
}

.submenu {
    display: none;
    position: absolute;
    top: -1px;
    min-width: 11.625rem;
    max-width: 16.25rem;
    height: max-content;
    overflow: hidden;
    border-radius: 8px;
}

.submenu.right {
    left: 100%;
}

.submenu.left {
    right: 100%;
}

.submenu > .menu {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15)) var(--looks-secondary, #855CD6);
    border-radius: 8px;
}

.menu-item.expanded > .submenu {
    display: block;
}

:not(:has(> .menu-item.expanded)) > .menu-item:hover > .submenu {
    display: block;
}

/* Fallback styling for webkit browsers that don't support scrollbar-color */

.submenu > .menu::-webkit-scrollbar {
    width: 12px;
}

.submenu > .menu::-webkit-scrollbar-track {
    background: var(--looks-secondary, #855CD6);
}

.submenu > .menu::-webkit-scrollbar-thumb {
    background-color: var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
    border-radius: 12px;
    border: 3px solid var(--looks-secondary, #855CD6);
}
