@import "../../css/colors.css";

.share-button {
    background: var(--data-primary, #FF8C1A);
}

.share-button-is-shared {
    background: var(--ui-black-transparent, hsla(0, 0%, 0%, 0.15));
    cursor: default;
}
