@import "../../css/colors.css";
@import "../../css/units.css";

.inline-message {
    color: var(--ui-white, #FFFFFF);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8125rem;
}

.success {
    color: var(--ui-white-dim, hsla(0, 100%, 100%, 0.75));
}

.info {
    color: var(--ui-white, #FFFFFF);
}

.warn {
    color: var(--error-light, #FFB366);
}

.spinner {
    margin-right: $space;
}
